footer.footer
	.footer__wrap
		.footer__copy
			.copy © 2012 - 2017 OPORAGROUP
		.footer__address
			address.footer-address
				span г. Екатеринбург, ул. Московская 195, офис 1127
		.footer__mail
			address.footer-mail
				a(href="mailto: office@oporagroup.com") office@oporagroup.com
		.footer__soc
			include soc.jade
		.footer__dev
			a.dev(href="#")
				span.dev__text Сделано в
				img.dev__img(src="img/ico-dev.png", alt="")