<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Портфолио
		include inc/head.jade
		include inc/css.jade
	body.inner.loading.page_portfolio
		#page-wr
			.content
				include inc/header.jade
				main.main
					.inner-page
						.title-block__cont
							.wrapper
								.title-block
									.title-block__title
										h1 Портфолио
									.title-block__crumbs
										.bread-crumbs
											a.bread-crumbs__link(href="#") Главная
											span.bread-crumbs__this Портфолио
						.inner-page__content
							.wrapper
								.port__cont
									.port__filter
										form
											.filter
												.filter__input
													select.forms__input.forms__input--select.selectize(multiple)
														option услуга1
														option услуга2
														option услуга3
													label.filter__label Услуги
												.filter__input
													select.forms__input.forms__input--select.selectize(multiple)
														option Год1
														option Год2
														option Год3
													label.filter__label Год
												.filter__input.filter__input--submit
													input.gradient-btn(type="submit" value="Применить")
									.port__blocks
										.port
											- for (let i = 1; i <= 8; i++){
												a.port__one(href="#")
													figure.port__one-img
														img(src="img/photos/port-"+i+".jpg", alt="")
													.port__one-title Фасадные вывески
													.port__one-bot
														.port__one-date 11/13/2017
														.port__one-fake-btn
											- }
										.port__paginator
											include inc/paginator.jade
				include inc/footer-inner.jade
		include inc/scripts.jade