<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Широформатная печать
		include inc/head.jade
		include inc/css.jade
	body.inner.loading.page_services_tipografiya
		#page-wr
			.content
				include inc/header.jade
				main.main
					.inner-page
						.title-block__cont
							.wrapper
								.title-block
									//- .title-block__title
									//- 	h1 Гриль Бар YORK
									.title-block__crumbs
										.bread-crumbs
											a.bread-crumbs__link(href="#") Главная
											a.bread-crumbs__link(href="#") Компания
											a.bread-crumbs__link(href="#") Портфолио
											span.bread-crumbs__this Гриль Бар YORK
						.inner-page__content
							.main-banner__cont
								.main-banner
									.main-banner__slider
										figure.main-banner__slider-slide
											img(src="img/photos/creat-top-img-2.jpg", alt="")
									.wrapper
										.main-banner__title-block
											.main-banner__title
												h1 Типография
											.main-banner__subtitle от разработки дизайна до монтажа
											
							.services-cont
								.wrapper
									.services
										.services__vertical
											include ../img/photos/text-vert.svg
										.services__list
											.services__item
												figure
													img(src="img/photos/serv-1.svg", alt="")
												.services__item-info
													.services__item-title Широкоформатная печать
													.services__item-list
														ul
															li
																a(href="") Печать на ткани
															li
																a(href="") Печать на самоклеющейся пленке
															li
																a(href="") Печать на сетке
															li
																a(href="") Брендмауэры
															li
																a(href="") Ростовые фигуры
															li
																a(href="") Тантамарески, театральные декорации
															li
																a(href="") Печать баннеров
															li
																a(href="") Фотозоны, прессволы
											.services__item
												figure
													img(src="img/photos/serv-2.svg", alt="")
												.services__item-info
													.services__item-title Интерьерная печать
													.services__item-list
														ul
															li
																a(href="") Печать фотообоев
															li
																a(href="") Печать на холсте
											.services__item
												figure
													img(src="img/photos/serv-3.svg", alt="")
												.services__item-info
													.services__item-title Плоттерная резка
													.services__item-list
														ul
															li
																a(href="") Трафареты
											.services__item
												figure
													img(src="img/photos/serv-4.svg", alt="")
												.services__item-info
													.services__item-title Дизайн
											.services__item
												figure
													img(src="img/photos/serv-5.svg", alt="")
												.services__item-info
													.services__item-title Монтаж
											.services__item
												figure
													img(src="img/photos/serv-6.svg", alt="")
												.services__item-info
													.services__item-title Ламинирование

							.advantages-cont
								.wrapper
									.advantages
										.advantages__list
											.advantages__item
												.advantages__item-num 01
												.advantages__item-text Современное оборудование
											.advantages__item
												.advantages__item-num 02
												.advantages__item-text Типография полного цикла
											.advantages__item
												.advantages__item-num 03
												.advantages__item-text Каждому клиенту даем персонального менеджера
															
							.seo-text-cont
								.wrapper
									.seo-text__elements
										.seo-text__element
											.seo-text__el-title Наша компания предлагает следующие типографические услуги:
											.seo-text__el-text 
												p Типография – это производство, на котором осуществляется целый комплекс работ: предпечатная подготовка, нанесение изображения на носитель и обработка печатной продукции (установка люверсов, высечка, склейка).

										.seo-text__element
											.seo-text__el-title I. Интерьерная печать и широкоформатная печать
											.seo-text__el-text 
												p Интерьерная печать используется в декорировании интерьера офисов, торговых и выставочных центров, клубов, ресторанов и пр. Также возможно создание фотообев и печать на холсте репродукций. Используемое разрешение: 720-1440 dpi. Широкоформатная печать - это печать информации рекламного характера, которая будет располагаться на временных или стационарных конструкциях, на улице, на удалении от глаз человека от 2м и дальше. К ней относятся: баннеры, растяжки, билборды, прессволлы и пр. Используемое разрешение: 150-360 dpi. 
												<b>Сходства:</b> материалы, которые используют для интерьерной и широкоформатной печати, абсолютно одинаковые. К ним относятся: бумага, самоклеящаяся бумага, холст, стекло, пленка, сетка и ткань.
										.seo-text__element
											.seo-text__el-title II. Плоттерная резка
											.seo-text__el-text 
												p Данный способ используют для изготовления высеченных форм из самоклеящейся пленки. Пленка может быть глянцевой либо матовой. Она наносится на любую гладкую поверхность: металл, пластик, бумагу, стекло. 
												b Применение плоттерной резки в рекламе: 
												ul
													li нанесение аппликаций и надписей на стеклянные витрины, транспортные
													li средства, таблички и указатели;
													li создание витражей;
													li декорация внутренних помещений.
										.seo-text__element
											.seo-text__el-title III. Ламинирование
											.seo-text__el-text 
												p Это нанесение защитной пленки на поверхность: бумаги, витражей, пленки (предназначенной для дальнейшей оклейки) и пр. с целью защитить печать, либо придать жесткость.
										.seo-text__element
											.seo-text__el-title IV. Дизайн
											.seo-text__el-text 
												p Если у вас нет в штате дизайнера – не беда. Наша компания поможет сделать дизайн:
												ul
													li баннеров;
													li наклеек;
													li вывесок;
													li фотообоев;
													li растяжек;
													li и другой рекламы.

												p При разработке дизайна будут учитываться все ваши пожелания, целевая аудитория рекламного сообщения и рекомендации в брендбуке.
										.seo-text__element
											.seo-text__el-title V. Монтаж
											.seo-text__el-text 
												p Наша компания оказывает услуги типографии «под ключ»: помимо разработки дизайна и выпуска продукции, мы занимаемся установкой всех видов рекламы: баннеров, наклеек, брандмауэров и т.д.
												p Типография – это печатное производство, на котором мы «собаку съели». И по-другому не скажешь. Ведь у нас достаточно большой опыт работы на этом рынке, а в штате работают настоящие профессионалы, «набившие руку» за многие годы. Менеджеры помогут определиться с видом печатной продукции, проанализировать потребность бизнеса и сформировать правильные знания о видах печати.
												p Если вы хотите сделать заказ, пишите на почту, звоните в офис или оставляйте заявку на нашем сайте.









								
				include inc/footer-inner.jade
		include inc/scripts.jade