<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Выставочные стенды
		include inc/head.jade
		include inc/css.jade
	body.inner.loading
		#page-wr
			.content
				include inc/header.jade
				main.main
					.inner-page
						.title-block__cont
							.wrapper
								.title-block
									.title-block__title
										h1 Выставочные стенды
									.title-block__crumbs
										.bread-crumbs
											a.bread-crumbs__link(href="#") Главная
											a.bread-crumbs__link(href="#") Услуги
											a.bread-crumbs__link(href="#") Крышные установки
											span.bread-crumbs__this Выставочные стенды
						.inner-page__content
							.wrapper
								.standart-page__cont
									.standart-page.standart-page--stands
										figure.standart-page__img
											img(src="img/photos/stands.jpg", alt="")
										.standart-page__text
											.text-page
												h2 Выставочные стенды
												p Если вы заинтересованы в развитии компании, то наверняка знаете, что выставочные мероприятия – это один из эффективных рекламных инструментов, нацеленный на привлечение новых клиентов и налаживания партнерских отношений.
												p Производственная группа «Опора» готова предложить вам оптимальное решение для вашего будущего выставочного стенда с учетом специфики мероприятия, рекламируемого продукта и бюджетных рамок.
												h2 Работаем на эффективность
												p При посещении выставки клиенты устают от однообразных кабинок, которые отличаются максимум вывеской и цветом буклетов на столах. Чтобы «зацепить» посетителя, важно серьезно подойти к разработке и изготовлению выставочного стенда. Только грамотная реализация с учетом индивидуальности вашей компании и интересное оформление в фирменном стиле запомнится будущим клиентам.
												h2 Нас отличают:
												table
													tbody
														tr
															td 
																span(style="font-size: 45px; color: #5f3a76") 7
															td 
																span(style="font-size: 45px; color: #5f3a76") 1834
															td 
																img(src="img/photos/stand-1.png", alt="")
															td 
																img(src="img/photos/stand-2.png", alt="")
														tr
															td 7 лет успешной <br />работы
															td 1834 успешно <br />выполненных проектов
															td собственное производство на площади более 400 м2
															td ISO 9001:2015 – соответствие международным стандартам качества
												h2 От проектирования до застройки
												h6 Разработка дизайна
												p Выставочный стенд – это не просто конструкция. Это отражение философии вашей компании, ее текущих успехов и планов на будущее. За плечами наших дизайнеров серьезный опыт воплощения таких задач. Анализ вашего бренда и предстоящего мероприятия, в том числе и с точки зрения участвующих в выставке конкурентов позволяет нам предлагать эффективные конструкторские и дизайнерские решения.
												h6 Изготовление стенда
												p Наличие собственных производственных мощностей позволяет выполнять заказы в максимально сжатые сроки и жестко контролировать технологический процесс на всех этапах работы. Это позволяет избежать возникновения любых дефектов и недостатков при разработке конструкций. Наша компания использует только высококачественные материалы: от простых систем алюминиевых профилей «EUROSHOP» до систем элитных профилей «OCTANORM». 
												h6 Монтаж конструкции
												p Работники производственной группы «Опора» в течение 1 рабочего дня произведут качественную застройку выставочного стенда. Компания несет  полную ответственность за каждый проект и неукоснительно соблюдает взятые на себя гарантийные обязательства.
												h3 Нам доверяют 
												p На протяжении всех этапов сотрудничества компания «Опора» гарантирует вам высокий сервис и учет всех ваших пожеланий, а также соблюдение заявленных сроков сдачи выполненных работ.
												table
													tbody
														tr
															td 
																img(src="img/photos/stand-1.jpg", alt="")
															td 
																img(src="img/photos/stand-2.jpg", alt="")
															td 
																img(src="img/photos/stand-3.jpg", alt="")
												p
													a.gradient-btn(href="#") Смортреть другие работы
											.stands__contacts
												.stands-contacts
													.text-page
														h2 Контакты
														p С нами можно связаться удобным для вас способом:
														table
															tbody
																tr
																	td 
																		p +7(343)239-55-12, <br />+7(343)271-71-80
																	td 
																		p Фомичев Михаил 8-929-219-33-03 <br /> Зонов Дмитрий 8-912-640-82-67
																	td 
																		a(href="mailto: office@oporagroup.com") office@oporagroup.com
														p А также вы можете отправить заявку через форму обратной связи и наш менеджер свяжется с вами в течение 1 часа. <br />Отзывы наших клиентов расположены в разделе <a href="#">«Благодарности»</a>.
										aside.standart-page__aside
											.standart-page__right
												.standart-page__form
													.contacts-form
														.contacts-form__title Связаться с нами
														form
															.contacts-form__inputs
																.contacts-form__input
																	input.forms__input(type="text" placeholder="Ваше имя")
																.contacts-form__input
																	input.forms__input(type="tel" placeholder="Контактный телефон")
															.contacts-form__text
																p Нажимая кнопку вы даете согласие на <br /> <a href="#">обработку своих персональных данных</a>
															.contacts-form__submit
																input.gradient-btn(type="submit" value="Отправить")
												.standart-page__btn
													a.gradient-btn(href="#") Вернуться к списку
				include inc/footer-inner.jade
		include inc/scripts.jade