
@media screen and (min-width: 1920px)
	.works, .advantages
		.title
			position: relative
			padding-bottom: 20px

			&:after
				content: ''
				display: block
				background: url('../img/block-line.svg') no-repeat center
				background-size: cover
				width: 100%
				height: 2px
				position: absolute
				bottom: 0
				left: 0
				transform: translateX(-65%)

	.advantages, .price-roof, .statistics
		position: relative

		&:after
			content: ''
			display: block
			background: url('../img/block-line.svg') no-repeat center
			background-size: cover
			width: 100%
			height: 2px
			position: absolute
			bottom: 0
			left: 0
			transform: translateX(-65%)

	.price-roof, .statistics
		&:after
			bottom: -100px

.pop
	.inner-page__content
		> .wrapper
			> *
				.wrapper
					max-width: 1168px

	.animation
		visibility: visible !important
		opacity: 0
		transform: translate3d(0, 60px,0)
		transition: opacity 2s ease, transform 2s ease
		will-change: auto

		&.animated
			opacity: 1
			transform: translate3d(0, 0,0)

	.main-banner__cont
		opacity: 1
		transform: none


.brands-cont
	margin-top: 40px

.admin.pop:not(.page_services)
	padding-top: 0 !important

	.standart-page__aside
		display: none

	.title-block__cont
		position: absolute
		top: 135px
		left: 0
		right: 0
		z-index: 10
		display: none

	.title
		font-size: rem(35)
		font-weight: bold
		text-align: center
		text-transform: uppercase

	.title-block__title
		display: none

	.inner-page__content
		> .wrapper
			max-width: 100%
			padding: 0

			> * 
				> .wrapper
					padding: 0 2rem
					box-sizing: content-box

	.main-banner
		&__cont
			position: relative

			&:before
				content: ''
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				display: block
				background-image: url('../img/photos/ico-treangl.svg')
				background-position: center top
				background-repeat: no-repeat

			&:after
				content: ''
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				display: block
				background: linear-gradient(180.39deg, #000000 0.6%, rgba(0, 0, 0, 0) 349.72%)


	.advantages
		background-image: url('../img/ico-triangl.svg')
		background-position: center bottom
		background-repeat: no-repeat
		background-size: cover

		&__list
			display: flex
			flex-wrap: wrap
			margin: 45px 0 -20px -20px

		&__item
			width: calc((100% - 20px * 3) / 3)
			margin: 0 0 50px 20px
			display: flex
			flex-direction: column
			align-items: center

			&-text
				max-width: 320px
				text-align: center

			figure
				margin-bottom: 35px

.services__vertical
	writing-mode: tb
	transform: rotate(180deg)

	&-text
		text-align: right
		margin-bottom: 75px

	&-title
		font-size: rem(180)
		font-weight: bold
		color: rgba(255, 255, 255, 0.2)
		line-height: 1
		text-transform: uppercase


	&-subtitle
		font-size: rem(35)
		color: rgba(255, 255, 255, 0.2)
		text-transform: uppercase
		line-height: 1
		font-weight: bold

	&-img
		margin-right: 40px

.main-banner
	&__cont
		position: relative


	&__slider

		&-slide
			img
				display: block
				width: 100%
				max-height: 600px
				object-fit: cover
				object-position: center

	&__title
		h1
			font-size: rem(40)
			text-transform: uppercase

		&-block
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			flex: 1 1 auto


	&__subtitle
		font-size: rem(21)
		text-align: center

	> .wrapper
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 10
		display: flex

	&__form
		display: flex
		justify-content: center

		input[type="submit"]
			color: #fff
			border: 0
			padding: 14px 60px
			margin-left: 18px
			background: linear-gradient(90deg, #59335E 8.27%, rgba(76, 51, 94, 0.86) 146.74%, rgba(141, 0, 201, 0) 342.5%)
			transition: background .3s ease

			&:hover
				background: linear-gradient(90deg,#59335E 3.27%,rgba(76,51,94,.86) 100.74%,rgba(141,0,201,0) 25.5%)

		&-cont
			margin-top: 70px

	&__input
		height: 47px
		width: 240px
		border: 1px solid #FFFFFF
		background: transparent
		padding: 0 11px
		color: #fff

	&__form-text
		font-size: rem(10)
		margin-top: 13px

		a
			color: #fff

.works
	&-cont
		padding: 80px 0 65px

	&__list
		display: flex
		flex-wrap: wrap
		margin: 40px 0 -6px -6px


	&__item
		position: relative
		width: calc((100% - 6px * 3) / 3)
		margin: 0 0 6px 6px
		border: 1px solid transparent
		transition: color .5s ease

		&:hover
			border-color: #fff

			figure
				img
					filter: blur(4px)

			.works__item-hidden
				pointer-events: all
				opacity: 1


		figure
			img
				display: block
				width: 100%
				object-fit: cover
				object-position: center
				transition: filter .5s ease
		
		&-hidden
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			pointer-events: none
			z-index: 10
			padding: 23px 20px 21px
			text-align: center
			display: flex
			flex-direction: column
			justify-content: space-between
			opacity: 0
			transition: color .5s ease

		&-date
			font-size: rem(18)

		&-title
			font-size: rem(25)


		.btn
			border: 1px solid #8D00C9
			padding: 13px 30px 13px 11px
			background-image: url('../img/ico-link-blank.svg')
			background-position: right 10px center
			background-repeat: no-repeat
			background-color: transparent
			text-decoration: none
			font-size: rem(15)
			color: #fff
			cursor: pointer
			display: inline-block

	&__more-btn
		display: flex
		justify-content: center
		width: 100%
		margin-top: 75px

		.btn
			padding: 13px 20px 13px 20px
			background: linear-gradient(90deg, #59335E 8.27%, rgba(76, 51, 94, 0.86) 146.74%, rgba(141, 0, 201, 0) 342.5%)
			font-weight: bold
			color: #fff
			text-decoration: none
			display: flex
			align-items: center

			&:after
				content: ''
				display: inline-block
				background: url('../img/ico-arrow.svg') no-repeat center
				+size(16px 19px)
				margin-left: 15px





.price-roof
	display: flex
	align-items: center

	&-cont
		padding: 100px 0

	&__img
		flex: none
		margin-right: 120px

	&__title
		font-size: rem(35)
		font-weight: bold
		margin-bottom: 20px

	&__info
		display: flex
		flex-direction: column
		align-items: flex-start

	&__btn
		margin-top: 40px


	.btn
		padding: 13px 20px 13px 20px
		background: linear-gradient(90deg, #59335E 8.27%, rgba(76, 51, 94, 0.86) 146.74%, rgba(141, 0, 201, 0) 342.5%)
		font-weight: bold
		color: #fff
		text-decoration: none
		display: flex
		align-items: center


.advantages__item
	transition: transform .5s ease

	&:hover
		transform: translate3d(0,-10px,0)
.calculate-cost
	display: flex
	flex-direction: column
	align-items: center
	padding: 130px 0 65px

	&-cont
		position: relative

		> .wrapper
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: 10

			display: flex
			align-items: center
			justify-content: center

	&__img
		position: relative

		&:before
			content: ''
			display: block
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background: linear-gradient(180.39deg, #000000 0.6%, rgba(0, 0, 0, 0) 349.72%)

		img
			width: 100%
			display: block
			max-height: 800px

	&__subtitle
		font-size: rem(15)
		text-align: center

	.title
		margin-bottom: 25px

	.forms-wrap
		flex-direction: column
		max-width: 360px
		margin-top: 45px

	.forms-input-cont
		width: 100%

		&--checkbox
			display: flex
			justify-content: center
			border: 1px solid #fff
			border-radius: 30px
			background: #202121
			padding: 6px
			box-shadow: inset 0px 4px 2px rgba(0, 0, 0, 0.25)
			min-height: 56px

			.forms-checkbox
				&:before
					+size(44px)
					border-radius: 50%
					top: -6px
					background: #fff


			.forms__checkbox-label
				padding-left: 95px
				font-weight: bold
				font-size: rem(15)

				&:before
					left: 13px

				&:after
					left: 17px

		&--bot
			flex-direction: row
			justify-content: space-between

			.forms-checkbox
				display: flex
				align-items: center
				width: 180px
				background: #202121
				min-height: 56px
				border-radius: 30px
				border: 1px solid #fff

				&:before
					+size(44px)
					border-radius: 50%
					top: 5px
					background: #fff
					left: auto
					right: 5px


			.forms__checkbox-label
				padding-left: 23px
				padding-right: 58px
				font-weight: bold
				font-size: rem(15)

				&:before
					left: auto
					right: 23px
					top: 17px

				&:after
					left: auto
					right: 17px
					top: 15px

			.forms-input-cont--file
				width: 148px
				margin: 0

			.forms__input--file-support
				opacity: 0
				position: absolute
				pointer-events: none

			.forms__label--file
				&:before
					top: 0
					right: 0
					left: 0
					bottom: 0
					background-color: transparent
					padding: 10px 50px 10px 10px
					border: 1px solid #fff
					width: auto
					height: auto
					text-align: left
					line-height: 1
					background-image: url('../img/ico-clip.svg')
					background-position: right 10px center
					background-repeat: no-repeat

				&:after
					display: none

	input
		border: 1px solid #fff
		padding: 0 15px

		&[type="submit"]
			padding: 15px
			border: 0
			color: #fff
			background: linear-gradient(90deg, #59335E 8.27%, rgba(76, 51, 94, 0.86) 146.74%, rgba(141, 0, 201, 0) 342.5%)

	.forms-text
		font-size: rem(12)

		a 
			text-decoration: underline

.statistics
	&-cont
		padding: 60px 0 110px

	&__list
		display: flex
		margin-top: 45px

	&__item
		position: relative
		width: calc(100% / 5)
		text-align: center

		&-num
			font-size: rem(40)
			font-weight: bold

		&:not(:last-child):after
			content: ''
			position: absolute
			right: 0
			top: calc(50% - 7px)
			+size(14px)
			border-radius: 50%
			background: #fff

.brands
	&-cont

	&__list
		display: flex
		flex-wrap: wrap
		margin: 45px 0 -40px -40px

	&__item
		position: relative
		width: calc((100% - 40px * 4) / 4)
		margin: 0 0 40px 40px

		&:hover
			&:before
				background: transparent

		img
			display: block
			width: 100%

		&:before
			content: ''
			position: absolute
			display: block
			top: 0
			left: 0
			right: 0
			bottom: 0
			background: rgba(#000, .85%)
			transition: background .5s ease


.seo-text

	&-more
		display: none

	&-cont
		margin-top: 110px

	.title
		text-align: left !important
		margin-bottom: 20px

	&__text
		> *
			margin-bottom: 35px

	&__element
		display: flex

	&__el
		&-title
			max-width: 466px
			width: 100%
			border-top: 1px solid #fff
			margin-right: 40px
			font-size: rem(35)
			font-weight: bold
			padding: 44px 0
			flex: none

		&-text 
			b 
				display: inline-block
				
			> *
				margin-bottom: 35px

			li
				margin-bottom: 15px


			ol
				counter-reset: i

				li
					counter-increment: i

					&:before
						content: counter(i) "."
						margin-right: 4px

			ul

				li

					&:before
						content: "—"
						margin: 0 5px 0 0

				ul

					li

						&:before
							content: "-"
							margin: 0 5px 5px 0



.admin.pop[class*="page_services_tipografiya"], .inner.pop.page_services_vystavochnye-stendy

	.main-banner
		&__title 
			h1
				font-size: rem(64)
				text-transform: none

		&__subtitle
			font-size: rem(36)

	.services
		margin-bottom: 40px
		flex-wrap: nowrap


		&__vertical
			margin-right: 140px
			flex: none
			margin-left: 2rem



		&__list
			margin-top: 75px

		&__item
			display: flex

			&:not(:first-child)
				margin-top: 55px

			&-title
				font-size: rem(35)
				font-weight: bold
				margin-bottom: 30px

			figure
				display: flex
				justify-content: center
				align-items: center

				+size(112px)
				border: 1px solid #8D00C9
				border-radius: 50%
				flex: none
				margin-right: 33px

			&-info
				margin-top: 35px

				li
					margin-bottom: 20px

				a
					font-size: rem(20)
					color: #fff
					text-decoration: none

	.advantages

		&-cont
			background-image: url('../img/photos/tipografadv.jpg') 
			background-repeat: no-repeat
			background-position: center
			background-size: cover
			padding: 50px 0 80px


		&__list
			display: flex
			flex-wrap: wrap
			justify-content: center
			margin: 0

		&__item
			width: calc(100% / 2)
			display: flex
			flex-direction: column
			align-items: center
			margin: 0

			&-num
				font-size: rem(144)
				color: #676767

			&-text
				position: relative
				font-size: rem(20)
				text-transform: uppercase
				
				&:after
					content: ''
					display: block
					position: absolute
					bottom: 0
					right: 0
					left: 0
					height: 1px
					width: 100%
					background: #676767
					transform: translateY(5px)

@media screen and (max-width: 1920px)
	.works, .advantages
		.title
			position: relative
			padding-bottom: 20px

			&:after
				content: ''
				display: block
				background: url('../img/block-line.svg') no-repeat center
				background-size: cover
				width: 60%
				height: 2px
				position: absolute
				bottom: 0
				left: 0
				transform: translateX(-52%)

	.advantages, .price-roof, .statistics
		position: relative

		&:after
			content: ''
			display: block
			background: url('../img/block-line.svg') no-repeat center
			background-size: cover
			width: 60%
			height: 2px
			position: absolute
			bottom: 0
			left: 0
			transform: translateX(-52%)

	.price-roof, .statistics
		&:after
			bottom: -100px


@media screen and (max-width: 1500px)
	
	.admin.pop

		.title
			font-size: 2rem

		.inner-page__content
			>
				.wrapper 
					> * > .wrapper
						padding: 0 2rem
						box-sizing: border-box !important

		.advantages
			&-cont
				margin-top: 50px

			&__list
				margin: 40px 0 -20px -20px

	.price-roof-cont
		padding: 65px 0

	.calculate-cost
		padding: 50px 0


	.works
		&-cont
			padding: 50px 0

		&__list
			margin: 35px 0 -6px -6px

		&__more-btn
			margin-top: 50px

	.statistics
		&-cont
			padding: 50px 0 100px

		&__list
			margin-top: 30px

		&__item-num
			font-size: 3rem

	.brands
		&__list
			margin: 30px 0 -25px -25px

		&__item
			width: calc((100% - 25px * 4)/ 4)
			margin: 0 0 25px 25px

	.seo-text
		&-cont
			margin-top: 70px

		&__el-title
			max-width: 360px
			font-size: 1.6rem
			padding: 30px 0

	.admin.pop[class*=page_services_tipografiya], .inner.pop.page_services_vystavochnye-stendy
		.services__item-info 
			li
				margin-bottom: 10px

		.services__item-title
			margin-bottom: 20px

		.services__item:not(:first-child)
			margin-top: 35px

		.advantages__item-num
			font-size: 7rem

		.services__vertical
			margin-right: 40px

@media screen and (max-width: 1400px)

	.admin.pop

		.title-block__cont
			top: 70px

@media screen and (max-width: 1200px)

	.admin.pop
		.title-block__cont
			top: 105px

		.advantages
			background-size: cover

			&-cont
				margin-top: 35px



	.main-banner
		&__form
			&-cont
				margin-top: 25px

		&__subtitle
			text-align: center
			max-width: 800px

		&__title h1
			font-size: 2rem


	.price-roof
		&__img
			margin-right: 50px

		&__title
			font-size: 1.7rem

	.calculate-cost__img

		img
			object-fit: cover
			object-position: center
			height: 665px

	.services__vertical

		&-title
			font-size: 6.25rem

		&-subtitle
			font-size: 2rem

		&-img
			margin-right: 30px
			width: 30px

		&-text
			margin-bottom: 35px


	.admin.pop[class*=page_services_tipografiya], .inner.pop.page_services_vystavochnye-stendy 
		.services__item-info
			margin-top: 25px


@media screen and (max-width: 1000px)

	.price-roof:after, .statistics:after
		bottom: -65px
	
	.admin.pop
		.title
			font-size: 1.7rem

	.main-banner__slider-slide 
		img
			height: 600px

	.price-roof__img
		max-width: 235px

	.calculate-cost 
		.forms-wrap
			margin-top: 15px

	.statistics
		&__item
			&-num
				font-size: 1.7rem

			&:not(:last-child):after
				top: calc(50% - 5px)
				height: 10px
				width: 10px


			&-text
				font-size: 10px
				text-align: center

		&__list
			margin-top: 20px

		&-cont
			padding: 30px 0 55px

	.seo-text__el-title
		max-width: 205px
		font-size: 1.4rem
		padding: 15px 0

	.advantages__item
		img
			max-height: 65px


	.admin.pop[class*=page_services_tipografiya], .inner.pop.page_services_vystavochnye-stendy 
		.services__item 
			figure
				height: 70px
				width: 70px

				img
					max-width: 40px

		.services__list
			margin-top: 40px


		.services__item-info
			margin-top: 10px

		.services__item-title
			font-size: 1.7rem

		.advantages__item-num
			font-size: 5rem


@media screen and (max-width: 660px)

	.main-banner__form input[type=submit]
		padding: 14px 15px

	.price-roof:after, .statistics:after
		bottom: -75px

	.services__vertical
		display: none



	.admin.pop

		.inner-page__content>.wrapper>*>.wrapper
			padding: 0 14px

		.wrapper
			padding: 0 14px

		.title
			font-size: rem(20) !important


		.main-banner__cont:before
			background-size: contain

		.title-block__cont
			top: 55px

		.bread-crumbs
			&__link, &__this
				display: inline-block !important
				font-size: rem(12)
				font-weight: bold

			&__link

				&:after
					display: inline-block !important

				&:nth-last-child(2)
					padding: 0

					&:before
						display: none

		.advantages
			background: none

			&__item
				margin-bottom: 0

				figure
					margin-bottom: 13px



	


	.main-banner
		&__slider-slide 
			img
				height: 610px
				object-fit: cover
				object-position: center

		&__title
			h1 
				font-size: rem(25) !important
				text-align: center

			&-block
				margin-top: 0

		&__subtitle
			font-size: rem(16) !important

		&__input
			width: 100%

		&__form 
			input[type=submit]
				margin: 23px 0 0 0

			&-text
				max-width: 227px
				margin: 0 auto
				width: 100%
				text-align: center
				margin-top: 15px



	.main-banner__form
		flex-direction: column
		max-width: 227px
		margin: 0 auto

	.price-roof__img
		display: none

	.works-cont
		padding: 65px 0 20px

	.calculate-cost
		padding: 20px 0

	.works
		&__list
			display: block

		&__item

			margin: 0 0 0 5px

			img
				display: block

		&__more-btn
			display: none

		.slick-list
			overflow: visible

		.slick-dots
			display: flex
			justify-content: center
			margin-top: 18px

			li
				+size(10px)
				flex: none

				&:not(:first-child)
					margin-left: 10px

			.slick-active
				button
					opacity: 1

			button
				font-size: 0
				+size(10px)
				border-radius: 50%
				background: rgba(141, 0, 201, 0.4)
				opacity: .7
				border: 0
				display: block
				padding: 0

	.price-roof
		&-cont
			padding: 75px 0

		&__title
			font-size: rem(20)

		&__btn
			width: 100%
			margin-top: 25px

			a
				width: 100%

	.calculate-cost
		&__img 
			img
				height: 660px

		.forms__input
			height: 50px

		.forms__label
			margin-bottom: 5px

		.forms-input-cont
			margin-bottom: 10px

		.forms__label--file:before
			content: attr(data-btn-text) !important

	.statistics
		&__item:not(:last-child):after
			right: 2px

		&__list
			display: block

		&__item-num
			font-size: rem(30)

		.slick-dots
			display: flex
			justify-content: center
			margin-top: 18px

			li
				+size(10px)
				flex: none

				&:not(:first-child)
					margin-left: 10px

			.slick-active
				button
					opacity: 1

			button
				font-size: 0
				+size(10px)
				border-radius: 50%
				background: rgba(141, 0, 201, 0.4)
				opacity: .7
				border: 0
				display: block
				padding: 0


	.brands
		.title
			text-align: left

		&__item
			margin-bottom: 0



		.slick-dots
			display: flex
			justify-content: center
			margin-top: 18px
			width: 100%

			li
				+size(10px)
				flex: none

				&:not(:first-child)
					margin-left: 10px

			.slick-active
				button
					opacity: 1

			button
				font-size: 0
				+size(10px)
				border-radius: 50%
				background: rgba(141, 0, 201, 0.4)
				opacity: .7
				border: 0
				display: block
				padding: 0

	.seo-text
		&-more
			display: flex
			justify-content: center
			margin: 15px 0 20px

			.btn
				padding: 13px 20px
				background: linear-gradient(90deg,#59335E 8.27%,rgba(76,51,94,.86) 146.74%,rgba(141,0,201,0) 342.5%)
				font-weight: 700
				color: #fff
				text-decoration: none
				display: flex
				align-items: center


		&__element
			flex-direction: column

		&__el-title
			max-width: 100%
			margin-right: 0

		&__elements
			display: none

		&__text, &__el-text
			font-size: rem(10)

			> *
				margin-bottom: 10px


	.admin.pop[class*=page_services_tipografiya], .inner.pop.page_services_vystavochnye-stendy
		.main-banner__title h1
			font-size: 2rem

		.main-banner__subtitle
			font-size: 1.25rem

		.services
			&__item 
				figure
					height: 66px
					width: 66px
					margin-right: 25px

				&:not(:first-child)
					margin-top: 9px



		.services__item-title
			font-size: rem(20)
			margin-bottom: 10px

		.services__item-info a
			font-size: rem(14)

		.services__item-info li
			margin-bottom: 3px

		.advantages-cont
			padding: 20px 0 31px

	.advantages-2

		.slick-dots
			display: flex
			justify-content: center
			margin-top: 18px

			li
				+size(10px)
				flex: none

				&:not(:first-child)
					margin-left: 10px

			.slick-active
				button
					opacity: 1

			button
				font-size: 0
				+size(10px)
				border-radius: 50%
				background: rgba(141, 0, 201, 0.4)
				opacity: .7
				border: 0
				display: block
				padding: 0

	.seo-text-cont
		margin-top: 60px

	.price-roof .btn
		font-size: 13px
		justify-content: center



	